/* GLOBAL/SITE-WIDE STYLES*/
$primary-color: #252525;
$background-color: #000000;
$secondary-color: #474747;
$highlight-color: #ff680a;
$text-color: rgb(255, 255, 255);
$link-color: rgb(255, 255, 255);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

hr {
  background-color: $secondary-color;
}
.wrapper {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: $highlight-color !important;
  transition: 0.5s ease;
  &:hover {
    text-decoration: none;
    color: $secondary-color !important;
    transition: 0.5s ease;
  }
}
body {
  background-color: $background-color;
  color: $text-color;
}
/*Nav Styles | Nav Styles | Nav Styles | Nav Styles | Nav Styles |*/
/*Nav Styles | Nav Styles | Nav Styles | Nav Styles | Nav Styles |*/
/*Nav Styles | Nav Styles | Nav Styles | Nav Styles | Nav Styles |*/

nav {
  height: 10%;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 20px;
}
.nav-link {
  color: $highlight-color !important;
  &:hover {
    color: $secondary-color !important;
  }
}
.navbar {
  padding: 10px 60px;
}
.navbar-toggler {
  border-color: $link-color !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.btn {
  border: none;
  color: $text-color;
  &:hover {
    color: $secondary-color;
  }
}

.btn-secondary {
  background-color: $background-color;
  &:hover {
    background-color: $secondary-color;
  }
  img {
    height: 20px;
  }
}
footer {
  height: 80px;
  line-height: 80px;
  background-color: $primary-color;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  margin-top: 10%;
}
.f-banner {
  background-image: url(../img/banner.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  width: 100%;
  margin-top: 30px;
}

.logout-btn {
  border-radius: 15px;
  border: 1px solid $secondary-color;
  background-color: $primary-color;
  color: #fff;
  margin-left: auto;
  margin-top: 10px;
  width: 100px;
  line-height: 30px;

  &:hover {
    border: 1px solid #dadada;
    background-color: $secondary-color;
  }
  &:active {
    box-shadow: 1px 1px 5px #303030;
  }
}
.dropdown-item {
  text-align: center;
  background-color: $primary-color;
  color: #fff;

  &:hover {
    background-color: $secondary-color;
    color: $highlight-color !important;
  }
  &:active {
    box-shadow: 1px 1px 5px #303030;
  }
  button {
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: $highlight-color;
    margin: auto;

    &:hover {
      border: 1px solid #dadada;
      background-color: $primary-color;
    }
    &:active {
      box-shadow: 1px 1px 5px #303030;
    }
  }
}
.dropdown-menu {
  background-color: $primary-color;
  border: 1px solid $secondary-color;
  text-align: center;
  span {
    margin: auto;
    color: $text-color;
    font-size: 1.5rem;
    font-weight: bolder;
  }
}
.unread {
  background-color: #00970d;
  display: inline-block;
  font-size: 1rem !important;
  padding: 1px 6px 0 5px;
  border-radius: 5px;
}
.header-user-img {
  object-fit: contain;
  width: 70px;
  height: 70px;
}
#logo-sae {
  width: 70px;
}
.bg-light {
  background-color: $primary-color !important;
}
.search-container {
  margin-bottom: 20px !important  ;
}
/*Main Forum Body Styles | Main Forum Body Styles | Main Forum Body Styles | Main Forum Body Styles |*/
/*Main Forum Body Styles | Main Forum Body Styles | Main Forum Body Styles | Main Forum Body Styles |*/
/*Main Forum Body Styles | Main Forum Body Styles | Main Forum Body Styles | Main Forum Body Styles |*/
.main-content {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin: 50px 30px 0 30px;
  background-color: $primary-color;
  padding: 20px;
  border-radius: 15px;
}
.search-container {
  margin: 0 0 0 auto;
}

.main-content-logout {
  width: 70%;
  border: 2px solid $secondary-color;
  background-color: $primary-color;
  box-shadow: 3px 3px 5px $background-color;
  border-radius: 10px;
  margin: 200px auto;
  text-align: center;
}

.section-default {
  height: auto;
  width: 50%;
  margin: 40px auto;
  text-align: center;
  padding: 20px 0;
  border-radius: 15px;
  background-color: $primary-color;
  p {
    font-size: 1.6rem;
    color: $text-color;
  }
}
.submit-btn {
  margin: auto;
  width: 50%;
  border-radius: 15px;
  padding: 3px;
  border: 1px solid $secondary-color;
  background-color: rgb(42, 158, 27);
  color: $text-color;
  box-shadow: 3px 3px 5px $background-color;
  &:hover {
    border: 1px solid #dadada;
  }
  &:active {
    box-shadow: 1px 1px 5px $background-color;
  }
}
.signup {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10% auto 0 auto;
  select {
    font-size: 1rem;
    margin: 10px 0;
    background-color: $background-color;
    color: $link-color;
    border: none;
    padding: 3px;
    appearance: none; /* Remove default arrow */
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  input {
    margin: 10px 0;
    padding: 3px 4px;
    background-color: $background-color;
    color: $text-color;
    border: none;
  }
  button {
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: #fff;
    width: 100px;
    line-height: 30px;
    transition: 0.5s ease;
    margin: auto;

    &:hover {
      border: 1px solid #dadada;
      background-color: rgb(42, 158, 27);
      transition: 0.5s ease;
    }
    &:active {
      box-shadow: 1px 1px 5px #303030;
    }
  }
}

.username {
  font-size: 1.2rem;
  margin-right: 20px;
}
.edit-controls-form {
  display: flex;
  justify-content: right;
}
.edit-controls {
  margin: 0 0 10px auto;
  display: flex;
  flex-direction: row;
  a {
    border: 1px solid $secondary-color;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
  }
  img {
    height: 20px;
    margin: 0 5px;
  }
}
#test-btn {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 30px;
  line-height: 30px;
  background: none;
  border: none;
  color: $highlight-color;
  &:hover {
    color: $text-color;
  }
  &:active {
    color: $primary-color;
  }

  img {
    margin-top: 7px;
  }
}

/*Error Message Styles | Error Message Styles | Error Message Styles | Error Message Styles |*/
/*Error Message Styles | Error Message Styles | Error Message Styles | Error Message Styles |*/
/*Error Message Styles | Error Message Styles | Error Message Styles | Error Message Styles |*/
.signuperror {
  font-size: 1rem !important;
  color: rgb(255, 255, 255) !important;
}
.signupsuccess {
  font-size: 1rem !important;
  color: #00cc11 !important;
}
.loginerror {
  width: 100%;
  margin: 0 0 0 auto;
  text-align: right;
  font-size: 1rem !important;
  color: rgb(255, 255, 255) !important;
}
.loginsuccess {
  width: 80%;
  margin: auto;
  text-align: right;
  font-size: 1rem !important;
  color: #00cc11 !important;
}
/*Login Form Styles | Login Form Styles | Login Form Styles | Login Form Styles |*/
/*Login Form Styles | Login Form Styles | Login Form Styles | Login Form Styles |*/
/*Login Form Styles | Login Form Styles | Login Form Styles | Login Form Styles |*/
.login-input {
  display: flex;
  flex-direction: column;
  input {
    margin-bottom: 2px;
    padding-left: 6px;
    background-color: $background-color;
    color: $text-color;
    border: none;
  }
}
.login-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: #fff;
    width: 100px;
    line-height: 30px;
    transition: 0.5s ease;

    &:hover {
      border: 1px solid #dadada;
      background-color: rgb(42, 158, 27);
      transition: 0.5s ease;
    }
    &:active {
      box-shadow: 1px 1px 5px #303030;
    }
  }
  span {
    text-align: center;
  }
  a {
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: #fff;
    width: 100px;
    line-height: 30px;
    text-align: center;

    &:hover {
      border: 1px solid #dadada;
      background-color: rgb(42, 158, 27);
    }
    &:active {
      box-shadow: 1px 1px 5px #303030;
    }
  }
}

.forgotpw {
  margin-left: auto;
}

/*Profile Page Styles |   Profile Page Styles |   Profile Page Styles |   Profile Page Styles |*/
/*Profile Page Styles |   Profile Page Styles |   Profile Page Styles |   Profile Page Styles |*/
/*Profile Page Styles |   Profile Page Styles |   Profile Page Styles |   Profile Page Styles |*/
#user-bio {
  width: 90%;
  margin: 10px auto;
  word-wrap: break-word;
  text-align: left;
}
#bio-form {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  textarea {
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
  }
  div {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: right;
    .bio-submit {
      border-radius: 15px;
      border: 1px solid $secondary-color;
      background-color: $primary-color;
      color: #fff;
      width: 100px;
      line-height: 30px;
      transition: 0.5s ease;

      &:hover {
        border: 1px solid #dadada;
        background-color: rgb(42, 158, 27);
        transition: 0.5s ease;
      }
      &:active {
        box-shadow: 1px 1px 5px #303030;
      }
    }
    .bio-cancel {
      border-radius: 15px;
      border: 1px solid $secondary-color;
      background-color: $primary-color;
      color: #fff;
      width: 100px;
      line-height: 30px;
      transition: 0.5s ease;

      &:hover {
        border: 1px solid #dadada;
        background-color: rgb(158, 27, 27);
        transition: 0.5s ease;
      }
      &:active {
        box-shadow: 1px 1px 5px #303030;
      }
    }
  }
}
#send-message {
  position: static;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 3;
  background-color: $primary-color;
  border-radius: 15px;
}
.user-course-badge {
  object-fit: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px $secondary-color;
  margin: 0;
}
.profile-details-edit-container {
  display: flex;
  flex-direction: row;
}
.profile-container {
  border: 1px solid $secondary-color;
  width: 80%;
  border-radius: 15px;
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: $primary-color;
}
.profile-container-left {
  width: 50%;
  padding: 40px 0;
}
.profile-container-right {
  width: 50%;
  padding: 40px 0;
  margin-right: 40px;
}
.profile-image-container {
  position: sticky;
  top: 0;
  padding-top: 50px;
  width: 100%;
  text-align: center;
}
.profile-content {
  padding-top: 50px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-social {
  padding-top: 50px;
  width: 100%;
}
.profile-bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  h2 {
    margin: 10px auto;
    width: 90%;
    text-align: left;
  }
}
.profile-title {
  h1,
  h2 {
    line-height: 100px;
  }
}
.profile-img {
  object-fit: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.profile-button-wrapper {
  display: flex;
  flex-direction: column;

  button {
    margin: auto;
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: #fff;
    width: 100px;
    line-height: 30px;
    transition: 0.5s ease;

    &:hover {
      border: 1px solid #dadada;
      background-color: rgb(42, 158, 27);
      transition: 0.5s ease;
    }
    &:active {
      box-shadow: 1px 1px 5px #303030;
    }
  }
  input {
    margin: 5px auto;
  }
}
#img-up-browse {
  margin: auto;
  border-radius: 15px;
  border: 1px solid $secondary-color;
  background-color: $primary-color;
  color: #fff;
  width: auto;
  line-height: 30px;
  transition: 0.5s ease;
  padding: 0 10px;

  &:hover {
    border: 1px solid #dadada;
    background-color: rgb(42, 158, 27);
    transition: 0.5s ease;
  }
  &:active {
    box-shadow: 1px 1px 5px #303030;
  }
}
.profile-details-edit-container {
  display: flex;
  flex-direction: row;
}
.profedit-container {
  position: absolute;
  top: 0;
  left: -500vw;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.904);
  transition: 0.5s ease;
}
#send-user-message {
  margin: auto;
  border-radius: 15px;
  border: none;
  background-color: $primary-color;
  color: #fff;
  width: auto;
  line-height: 30px;
  transition: 0.5s ease;
  padding: 0 5px;

  &:hover {
    border: 1px solid #dadada;
    background-color: $highlight-color;
    transition: 0.5s ease;
  }
  &:active {
    box-shadow: 1px 1px 5px #303030;
  }
}
#send-message {
  padding: 20px;

  textarea {
    padding: 20px;
    border-radius: 15px;
  }
  .message-submit {
    margin: auto;
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: #fff;
    width: 100px;
    line-height: 30px;
    transition: 0.5s ease;

    &:hover {
      border: 1px solid #dadada;
      background-color: rgb(42, 158, 27);
      transition: 0.5s ease;
    }
    &:active {
      box-shadow: 1px 1px 5px #303030;
    }
  }
  .message-cancel {
    margin: auto;
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: #fff;
    width: 100px;
    line-height: 30px;
    transition: 0.5s ease;

    &:hover {
      border: 1px solid #dadada;
      background-color: rgb(158, 27, 27);
      transition: 0.5s ease;
    }
    &:active {
      box-shadow: 1px 1px 5px #303030;
    }
  }
}
#reply-message {
  padding: 20px;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: right;

  textarea {
    padding: 20px;
    border-radius: 15px;
    width: 100%;
  }
  .message-submit {
    margin: 10px 0 0 auto;
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: #fff;
    width: 100px;
    line-height: 30px;
    transition: 0.5s ease;

    &:hover {
      border: 1px solid #dadada;
      background-color: rgb(42, 158, 27);
      transition: 0.5s ease;
    }
    &:active {
      box-shadow: 1px 1px 5px #303030;
    }
  }
}

/*Image Upload Form | Image Upload Form | Image Upload Form | Image Upload Form |*/
/*Image Upload Form | Image Upload Form | Image Upload Form | Image Upload Form |*/
/*Image Upload Form | Image Upload Form | Image Upload Form | Image Upload Form |*/

.upload-form {
  position: absolute;
  top: 0;
  left: -500vw;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.904);
  transition: 0.5s ease;
  color: #fff;
}

.upload-form-inner {
  width: 500px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.soc-icon {
  height: 20px;
  width: 20px;
}
#exit-profile {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  transform: rotateZ(45deg);
  border-radius: 50%;
  cursor: pointer;
}
#plus-icon {
  height: 30px;
  width: 30px;
  margin-left: -35px;
  margin-bottom: -119px;
  cursor: pointer;
  background-color: $primary-color;
}
.animate {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s ease;
}

.hidden {
  display: none !important;
}
#edit-profile {
  height: 16px;
  width: 16px;
  margin: 10px 0 0 5px;
  cursor: pointer;
}

/*TOPIC/COMMENT STYLES | TOPIC/COMMENT STYLES | TOPIC/COMMENT STYLES | TOPIC/COMMENT STYLES |*/
/*TOPIC/COMMENT STYLES | TOPIC/COMMENT STYLES | TOPIC/COMMENT STYLES | TOPIC/COMMENT STYLES |*/
/*TOPIC/COMMENT STYLES | TOPIC/COMMENT STYLES | TOPIC/COMMENT STYLES | TOPIC/COMMENT STYLES |*/
.forum-category {
  border: 1px solid $secondary-color;
  display: flex;
  flex-direction: row;
  height: 100px;
  border-radius: 5px;
  background-color: $primary-color;
  justify-content: space-between;
  margin-bottom: 10px;
  hr {
    margin: 0;
  }
  h6 {
    text-align: center;
    margin: auto 10px auto 0;
    font-size: 0.9rem;
    width: 200px;
  }
  p {
    font-weight: normal;
  }
}
.topic-title {
  font-size: 1rem;
  color: $link-color;
  width: 70%;
  text-align: center;
  word-wrap: break-word;
}
.topic-title-desc {
  margin: 25px 0 0 10px;
  width: 100%;
}
.topic-logo {
  object-fit: contain;
  height: 80px !important;
  width: 80px !important;
  margin: 10px;
}

.topic-post-count {
  margin: 37px 0 0 10px;
  width: 30%;
  text-align: center;
  font-weight: normal;
  color: $highlight-color;
}
.forum-category-icon {
  width: 20%;

  img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 0 6px 16px;
  }
}
.forum-category-title {
  width: 40%;
  h1,
  h2 {
    line-height: 100px;
  }
}
.forum-category-info {
  width: 20%;
}
.forum-category-details {
  width: 20%;
}

.postnewtopic {
  height: 40px;
  width: 150px;
  display: flex;
  flex-direction: row;
  line-height: 30px;
  margin: 0 0 10px auto;
  cursor: pointer;
  justify-content: space-evenly;
  background-color: $primary-color;
  padding: 5px;
  border-radius: 15px;
  color: $link-color;
  border: 1px solid $secondary-color;
  &:hover {
    background-color: $secondary-color;
  }
}
.closenewtopic {
  height: 40px;
  width: 108px;
  display: flex;
  flex-direction: row;
  line-height: 40px;
  margin-left: auto;
  cursor: pointer;
}
#plus-icon-topic {
  height: 30px;
  width: 30px;
}
#plus-icon-topic-close {
  height: 30px;
  width: 30px;
  transform: rotateZ(45deg);
}
.topic-container {
  position: absolute;
  top: 0;
  right: 200vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.932);
  transition: 0.5s ease;
  color: #fff;
  z-index: 2;
  form {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto;
    input {
      border-radius: 15px;
      padding: 5px;
    }
    textarea {
      border-radius: 15px;
    }
    border-radius: 5px;

    button {
      border-radius: 15px;
      border: 1px solid $secondary-color;
      background-color: rgb(42, 158, 27);
      color: #fff;
      box-shadow: 3px 3px 5px #505050;
      margin-left: auto;
      margin-top: 10px;
      width: 100px;
      &:hover {
        border: 1px solid #dadada;
      }
      &:active {
        box-shadow: 1px 1px 5px #303030;
      }
    }
  }
}
blockquote {
  border: 1px solid $secondary-color;
  padding: 10px;
  b {
    color: rgb(0, 131, 0);
  }
  a {
    color: rgb(0, 131, 0);
  }
}
.comment-img {
  object-fit: contain;
  width: 70px;
  height: 70px;
  margin: auto;
}
#comment-form {
  width: 60%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  button {
    margin: 10px 0 0 auto;
    border-radius: 15px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: #fff;
    width: 100px;
    line-height: 30px;
    transition: 0.5s ease;

    &:hover {
      border: 1px solid #dadada;
      background-color: rgb(42, 158, 27);
      transition: 0.5s ease;
    }
    &:active {
      box-shadow: 1px 1px 5px #303030;
    }
  }
}
#comment-body {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  box-shadow: 5px 5px 5px #00000044;
}

.forum-topic-post {
  border: 1px solid $secondary-color;
  box-shadow: 5px 5px 5px #00000044;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  padding: 5px;
  background-color: $primary-color;
  margin-bottom: 10px;
}
.forum-topic-post-poster {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}
.forum-topic-post-poster-author {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.forum-topic-post-content {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $secondary-color;
  margin: 5px;
  padding: 0 0.5rem;
  word-wrap: break-word;

  h1 {
    hr {
      margin: 0;
    }
  }
  h6 {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
  }
  button {
    width: 40px;
    height: 40px;
  }
}

/*Mobile Styles | Mobile Styles | Mobile Styles | Mobile Styles |*/
/*Mobile Styles | Mobile Styles | Mobile Styles | Mobile Styles |*/
/*Mobile Styles | Mobile Styles | Mobile Styles | Mobile Styles |*/
@media only screen and (max-width: 900px) {
  //Nav Styles | Nav Styles |
  nav {
    width: 100%;
    margin: auto;
  }
  /*Topic Content Mobile Styles*/
  /*Topic Content Mobile Styles*/

  .main-content {
    width: 100%;
    margin: 40px auto;
  }
  .breadcrumbs {
    font-size: 0.8rem;
  }
  .forum-topic-post {
    flex-direction: column;
  }
  .forum-topic-post-poster {
    flex-direction: row;
    .comment-img {
      height: 40px;
      width: 40px;
    }
    .forum-topic-post-poster-author {
      line-height: 35px;
      margin: 0 5px;
      font-size: 1.2rem;
      .post-badges {
        margin: 0 5px;
      }
    }
  }
  .topic-logo {
    object-fit: contain;
    height: 30px;
    width: 30px;
    margin: auto 10px;
    border-radius: 50%;
  }
  .forum-topic-post-content {
    width: 100%;
    margin: auto;
    p {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 0.7rem;
    }
  }
  .topic-post-count {
    font-size: 0.7rem;
  }
  .forum-category {
    h6 {
      text-align: center;
      margin: auto 10px auto 0;
      font-size: 0.7rem;
      width: 200px;
    }
  }
  #topic-form {
    width: 90%;
    margin: auto;
  }
  #comment-form {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  /*Profile Page Mobile Styles*/
  /*Profile Page Mobile Styles*/
  .profile-container {
    border: none;
    width: 100%;
    flex-direction: column;
    .profile-container-left {
      width: 100%;
    }
    .profile-container-right {
      width: 100%;
      border: none;
      .profile-bio {
        border: none;
      }
    }
  }
  .upload-form {
    width: 100%;
    margin: auto;
    .upload-form-inner {
      width: 100%;
      margin: auto;
      .profile-button-wrapper {
        input {
          margin: auto;
        }
      }
    }
  }
}
